<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TelegramBotToken" value="PUT_YOUR_BOT_TOKEN_HERE" />
        <add key="TelegramChatId" value="PUT_YOUR_CHAT_ID_HERE" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>